.idea/
.vscode/
__pycache__/
config/
*.py[cod]
docs/build/
git.html
venv/
dist/
build/
.pytest_cache/
cov.xml
html_cov/
.coverage
calibration.json
presets.json
html/
.mutmut-cache
.erb-lint.yml
.hypothesis
codeclimate.json
public/
pylint_test/
run_pylint.sh
*.pt
*.avi
.DS_Store
src/.DS_Store
src/maat.egg-info
settings.yaml
