.idea/
.vscode/
__pycache__/
*.py[cod]
docs/build/
git.html
venv/
dist/
build/
.pytest_cache/
cov.xml
html_cov/
.coverage
src/avonic_speaker_tracker_system.egg-info/
.env
calibration.json
presets.json
html/
.mutmut-cache
.erb-lint.yml
.hypothesis
codeclimate.json
public/
pylint_test/
run_pylint.sh
.DS_Store
src/.DS_Store
src/avonic_speaker_tracker_system.egg-info/
