<article id="cam" class="container">
  <h1>Camera 🎥</h1>
  <h2>Basic Commands</h2>
  <div class="grid">
    <form action="/camera/reboot" method="post" id="camera-reboot-form">
      <button type="submit">Reboot</button>
    </form>
    <form action="/camera/off" method="post" id="camera-off-form">
      <button type="submit">Video Off</button>
    </form>
    <form action="/camera/on" method="post" id="camera-on-form">
      <button type="submit">Video On</button>
    </form>
    <form action="/camera/move/home" method="post" id="camera-home-form">
      <button type="submit">Home</button>
    </form>
    <form action="/camera/move/stop" method="post" id="camera-stop-form">
      <button type="submit">Stop</button>
    </form>
  </div>
  <h2>Zoom</h2>
  <div class="grid">
    <form action="/camera/zoom/get" method="get" id="camera-zoom-get-form">
      <div class="grid">
        <label for="zoom-value">Zoom value:</label>
        <input type="number" name="zoom-value" id="zoom-value-get" min="0" max="16384" readonly />
      </div>
      <button type="submit">Get zoom</button>
    </form>
    <form action="/camera/zoom/set" method="post" id="camera-zoom-set-form">
      <div class="grid">
        <label for="zoom-value-set">Set new [0-16384]:</label>
        <input type="number" name="zoom-value" id="zoom-value-set" min="0" max="16384" />
      </div>
      <button type="submit">Set zoom</button>
    </form>
  </div>
  <h2>Position</h2>
  <div class="grid">
    <form action="/camera/position/get" method="get" id="camera-position-get-form" class="grid">
      <label for="position-alpha-value">Pan and Tilt [rad]</label>
      <input type="number" name="position-alpha-value" id="position-alpha-value" readonly />
      <input type="number" name="position-beta-value" id="position-beta-value" readonly />
      <button type="submit">Get position</button>
    </form>
  </div>
  <div class="grid">
    <h2>Movement</h2>
    <label>
      <select id="movement-select" onchange="selectMovement()">
        <option value="camera-move-absolute">Absolute</option>
        <option value="camera-move-relative">Relative</option>
        <option value="camera-move-vector">Vector</option>
      </select>
    </label>
  </div>
  <form action="/camera/move/absolute" method="post" id="camera-move-absolute">
    <div class="grid">
      <label for="absolute-speed-x">Speed X</label>
      <label for="absolute-speed-y">Speed Y</label>
      <label for="absolute-degrees-x">Degrees X</label>
      <label for="absolute-degrees-y">Degrees Y</label>
    </div>
    <div class="grid">
      <input type="number" id="absolute-speed-x" name="absolute-speed-x" value="24" />
      <input type="number" id="absolute-speed-y" name="absolute-speed-y" value="20" />
      <input type="number" id="absolute-degrees-x" name="absolute-degrees-x" value="90" />
      <input type="number" id="absolute-degrees-y" name="absolute-degrees-y" value="90" />
    </div>
    <button type="submit">Move</button>
  </form>
  <form action="/camera/move/relative" method="post" id="camera-move-relative">
    <div class="grid">
      <label for="relative-speed-x">Speed X</label>
      <label for="relative-speed-y">Speed Y</label>
      <label for="relative-degrees-x">Degrees X</label>
      <label for="relative-degrees-y">Degrees Y</label>
    </div>
    <div class="grid">
      <input type="number" id="relative-speed-x" name="relative-speed-x" value="24" />
      <input type="number" id="relative-speed-y" name="relative-speed-y" value="20" />
      <input type="number" id="relative-degrees-x" name="relative-degrees-x" value="90" />
      <input type="number" id="relative-degrees-y" name="relative-degrees-y" value="90" />
    </div>
    <button type="submit">Move</button>
  </form>
  <form action="/camera/move/vector" method="post" id="camera-move-vector">
    <div class="grid">
      <label for="vector-speed-x">Speed X</label>
      <label for="vector-speed-y">Speed Y</label>
      <label for="vector-x">x</label>
      <label for="vector-y">y</label>
      <label for="vector-z">z</label>
    </div>
    <div class="grid">
      <input type="number" id="vector-speed-x" name="vector-speed-x" value="24" />
      <input type="number" id="vector-speed-y" name="vector-speed-y" value="20" />
      <input type="number" id="vector-x" name="vector-x" value="90" step="0.001" />
      <input type="number" id="vector-y" name="vector-y" value="90" step="0.001" />
      <input type="number" id="vector-z" name="vector-z" value="90" step="0.001" />
    </div>
    <button type="submit">Move</button>
  </form>
</article>
