<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Avonic Camera Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://cdn.socket.io/4.6.0/socket.io.js"></script>
  <script src="{{ url_for('static', filename='js/calibration.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/camera_on_success.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/microphone_on_success.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/presets.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/socket.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/thread.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

<body>
  <main>
    <nav>
      <ul>
        <li><strong>Navigation</strong></li>
      </ul>
      <ul>
        <li><a href="/camera_control">Camera controls</a></li>
        <li><a href="/microphone_control">Microphone control</a></li>
        <li><a href="/presets_and_calibration">Presets &amp calibration</a></li>
        <li><a href="/live_footage">Live camera footage</a></li>
      </ul>
    </nav>
    <article id="mic" class="container">
      <h1>Microphone 🎙️</h1>
      <form action="/microphone/height/set" method="post" id="microphone-set-height-form" class="grid">
        <label for="microphone-height">Height [m]: </label>
        <input type="number" id="microphone-height" name="microphone-height" step="0.01" value="1" />
        <button type="submit" role="button">Set</button>
      </form>
      <form action="/microphone/direction" method="get" id="microphone-get-direction-form" class="grid">
        <label for="mic-direction-x">Direction [x, y, z]: </label>
        <input id="mic-direction-x" readonly />
        <input id="mic-direction-y" readonly />
        <input id="mic-direction-z" readonly />
        <button type="submit">Get</button>
      </form>
      <form action="/microphone/speaking" method="get" id="microphone-speaking-form" class="grid">
        <button type="submit">Is someone speaking?</button>
        <input id="speaking" readonly />
      </form>
    </article>
  </main>
</body>

</html>
