<nav>
  <ul>
    <li><strong>Navigation</strong></li>
  </ul>
  <ul>
    <li><a href="/" data-tooltip="The main page containing every control" data-placement="bottom">Main page</a></li>
    <li><a href="/camera_control" data-tooltip="Page containing only camera controls & information"
           data-placement="bottom">Camera controls</a></li>
    <li><a href="/microphone_control" data-tooltip="Page containing only microphone setup & information"
           data-placement="bottom">Microphone control</a></li>
    <li><a href="/presets_and_calibration" data-tooltip="Page containing setup for presets and calibration"
           data-placement="bottom">Presets &amp Calibration</a></li>
    <li><a href="/live_footage" data-tooltip="Page containing live camera footage via rstp"
           data-placement="bottom">Live Camera Footage</a></li>
    <li><a href="#" role="button" onclick="toggleSettings()" data-tooltip="Set-up" data-placement="bottom">Settings</a></li>
  </ul>
</nav>
