<article>
  <div class="grid">
    <h1 id="presets-cali-title">Presets 🔖</h1>
    <select id="presets-cali-select" onchange="selectCaliTab()">
      <option value="presets">Presets</option>
      <option value="cal">Calibration</option>
    </select>
  </div>
  <div id="presets">

    <form id="preset-form" method="post">
      <div class="grid">
        <label for="preset-select">Select an existing preset to edit:</label>
        <select id="preset-select" name="preset-select" onchange="changePreset()">
        </select>
      </div>
      <div class="grid">
        <label for="preset-name">Type the new preset name:</label>
        <input id="preset-name" name="preset-name">
      </div>
      <h6>Microphone direction vector:</h6>
      <div class="grid">
        <input id="mic-direction-x2" name="mic-direction-x" readonly />
        <input id="mic-direction-y2" name="mic-direction-y" readonly />
        <input id="mic-direction-z2" name="mic-direction-z" readonly />
      </div>
      <form action="/microphone/speaker/direction" method="get" id="microphone-set-direction-form">
        <button id="set-mic-button" type="submit">Get the microphone direction towards the speaker</button>
      </form>
      <h6>Camera info[pan,tilt,zoom]:</h6>
      <div class="grid">
        <input id="camera-direction-alpha" name="camera-direction-alpha" readonly />
        <input id="camera-direction-beta" name="camera-direction-beta" readonly />
        <input id="camera-zoom-value" name="camera-zoom-value" readonly />
      </div>
      <div class="grid">
        <form action="/camera/position/get" method="get" id="presets-camera-position-set-form">
          <button type="submit">Get the camera direction</button>
        </form>
        <form action="/camera/zoom/get" method="get" id="presets-camera-zoom-set-form">
          <button type="submit">Get the camera zoom</button>
        </form>
      </div>
      <h6>Preset Controls</h6>
      <div class="grid">
        <button id="add-preset-button" type="submit">Add the new preset</button>
        <button id="edit-preset-button" type="submit">Edit current preset</button>
        <button id="remove-preset-button" type="submit">Remove current preset</button>
      </div>
    </form>

  </div>
  <div id="cal">
    <h5 id="calibration-instruction">Set the height, then click below to calibrate point 1</h5>
    <div class="grid">
      <button class="calibration-button" onclick="startCalibration(this)">Start 1</button>
      <button class="calibration-button" onclick="startCalibration(this)" disabled="disabled">Start 2</button>
      <button class="calibration-button" onclick="startCalibration(this)" disabled="disabled">Start 3</button>
    </div>
    <button id="camera-direction-button" onclick="pointCameraCalibration(this)" disabled="disabled">
      Submit current camera direction.
    </button>
    <form action="/calibration/camera" method="get" id="camera-coords-get-form" class="grid">
      <label for="camera-coords-x">Calculated camera coordinates [x, y, z]:</label>
      <input id="camera-coords-x" />
      <input id="camera-coords-y" />
      <input id="camera-coords-z" />
    </div>
  </div>
</article>
