<article id="thread">
  <h1>Thread 🧵</h1>
  <div class="grid">
    <form action="/object_tracking/start" method="post" id="object-tracking-start-form">
      <button type="submit">Start object tracking</button>
    </form>
    <form action="/object_tracking/stop" method="post" id="object-tracking-stop-form">
      <button type="submit">Stop object tracking</button>
    </form>
  </div>
  <div class="grid">
    <form action="/thread/start" method="post" id="thread-start-form">
      <button type="submit">Start</button>
    </form>
    <form action="/thread/stop" method="post" id="thread-stop-form">
      <button type="submit">Stop</button>
    </form>
  </div>
  <form action="/thread/value" method="get" id="thread-value-form" class="grid">
    <input id="thread-value" readonly>
    <button type="submit">Get value</button>
  </form>
</article>
