<article id="tracking">
    <h1 id="tracking-title">Tracking 🔭</h1>
    <h2> You need to start the thread for tracking to work</h2>
    <select id="tracking-select" onchange="selectTracking()">
        <option value="preset">Preset model</option>
        <option value="calib">Audio model</option>
        <option value="calibnozoom">Audio model without adaptive zooming</option>
        <option value="object" class="tracking-requires-footage">Wait object-audio model</option>
        <option value="hybrid" class="tracking-requires-footage">Quick change object-audio model</option>
    </select>
</article>
